body {
    background: black;
}

.container {
    display: grid;
    grid-template-columns: repeat(10, 100px);
    grid-template-rows: repeat(8, 50px);
}

.left {
    float:left;
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 5;
}

.right {
    float:right;
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 7;
    text-align: center;
}

.logo {    
    height: 80px;
    width: 120px;
    margin-bottom:10px;
}

.title {
    margin-top: -0.5px;
    color: white;
    font-size:50px;
    font-weight: 1000;
    font-style: italic;
}

.content1 {
    margin-top: -35px;
    color: white;
    font-size : 20px;
    width : 600px;

}

.content2 {
    margin-top: -1px;
    color: white;
    font-size : 20px;
}

.menu {
    margin-top: -10px;
}

.box {
    float: left;
    width:33%;
    width : 180px;
    height : 200px;
    border-radius: 5px;
    background: white;
    text-align: center;
    margin-right: 19px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 24px;
    font-weight: 1000;
    font-style: italic;
}

.login {
    margin-bottom: 3px;
    font-size: 30px;
    font-weight: 1000;
    font-style: italic;
    color: white;
}

.id, .pw {
    position: relative;
}

.id i, .pw i {
    position: absolute;
    left: 250px;
    top: 39px;
    color: gray;

}

.input {
    margin-top: 20px;
    border-radius: 30px;
    width: 400px;
    height: 50px;
    padding-left:40px;
    font-style: italic;
    font-size:20px;

}

.button {
    margin-top: 20px;
    width: 250px;
    height: 40px;
    background-color: #f09637;
    border:hidden;
    color:white;
    border-radius: 30px;
    font-size:18px;
    font-weight: 800;
}